version: '3.8'
services:
  db:
    image: postgres:18-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
  taproom-offering-engine:
    build:
      dockerfile: ./build/app/Dockerfile
    ports:
      - "3000:3000"

volumes:
  postgres-data: