<link rel="stylesheet" type="text/css" href="/editor.css" />

html
  body
    div
      a(href='/breweries/manage')
        button Manage Breweries
    div
      a(href='/items/manage')
        button Manage Items (Beers, snacks, etc.)
    div
      a(href='/containers/manage')
        button Manage Containers