<link rel="stylesheet" type="text/css" href="/editor.css" />

html
  body
    div
      form(action='/menus/manage')
        input(class='menu-button' type='submit' value='Manage Menus')
    div
      form(action='/breweries/manage')
        input(class='menu-button' type='submit' value='Manage Breweries')
    div
      form(action='/items/manage')
        input(class='menu-button' type='submit' value='Manage Items (Beers, snacks, etc.)')
    div
      form(action='/containers/manage')
        input(class='menu-button' type='submit' value='Manage Containers')
