table {
    border-collapse: collapse;
}

tr, th, td {
  border: 1px solid;
}

.logo {
  max-width: 8%;
  height: auto;
}

.hidden-element {
  display: none;
}

.visible-element {
  display: block; 
}