html * { 
  font-size: 3vh;
}

table {
    border-collapse: collapse;
    table-layout:auto;
}

tr, th, td {
  border: 3px solid;
}

td {
  width: 14vw;
}

.logo {
  max-width: 90%;
  height: auto;
}

.hidden-element {
  display: none;
}

.visible-element {
  display: flex; 
}

.menu-button {
  margin: 0 auto;
  display: block;
}

td > input {
  display: block;
  width: 80%;
}