.header {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

.subMenuHeader {
  border-style: solid;
}

.menuTable {
  width: 100%;
  display: block;
}

.menuContainer {
  width: 100%;
  margin: auto;
}